doctype html
html
	head
		<link rel='stylesheet' href='/stylesheets/style.css' />		
		title Upload Report	
	body
		script.
			var remaintime = 8;
			setTimeout('refresh()',1000);
			setTimeout('refresh()',2000);
			setTimeout('refresh()',3000);
			setTimeout('refresh()',4000);
			setTimeout('refresh()',5000);
			setTimeout('refresh()',6000);
			setTimeout('refresh()',7000);
			setTimeout('refresh()',8000);
			setTimeout('getback()',9000);
			function refresh(){
				document.getElementById('timetable').innerHTML=String(remaintime) + " seconds later you will be back to the original page"
				remaintime=remaintime-1;	
			}
			function getback(){
				window.location='/t/#{np}';
			}
		h3#timetable 9 seconds later you will be back to the previous page
		<hr>
		strong #{nt}
		<hr>
		strong #{trans}
		<hr>
		strong #{snscreate}
		<hr>
		strong #{subscribe}
		<hr>
		strong #{db}
		<hr>
		p Due to the bad service of the cloudFront, it may take several times before you can check your video,it is not <strong>our</strong> fault,please contact with Amazon.com
